p, h1, h2, h3, h4, h5, h6, hr, input {
  margin: 0 !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  font-family: "Balsamiq Sans", "Roboto", sans-serif;
}

/*=================================================reset===============================================================================*/
.header nav {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.header nav button {
  outline: none !important;
}
.header nav i {
  color: #6c62ff;
}
.header nav .nav-item {
  transition: all 0.2s ease;
}
.header nav .nav-item .active {
  color: #6c62ff !important;
}
.header nav .nav-item:hover {
  color: #6c62ff;
}

/*============================================header===================================================================*/
.start_main {
  background-image: url(../images/banner/home-banner-new.png);
  background-repeat: no-repeat;
}
.start_main .start_main_content {
  padding-top: 200px;
  padding-left: 60px;
  padding-bottom: 300px;
}
.start_main .start_main_content .intro_sup {
  font-size: 3.6rem;
  position: relative;
}
.start_main .start_main_content .intro_sup:after {
  position: absolute;
  content: "";
  width: 40%;
  height: 3px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  left: 23%;
}
.start_main .start_main_content .intro {
  font-size: 4.5rem;
  font-weight: 700;
}
.start_main .start_main_content .intro_sub {
  font-size: 2rem;
}
.start_main .start_main_content button {
  outline: none !important;
  background: linear-gradient(90deg, #4758dd, #854fee);
  padding: 10px 35px;
  border-radius: 6px;
  border: 2px solid #4758dd;
  color: white;
  transition: all 0.3s ease;
  margin-top: 15px;
}
.start_main .start_main_content .hire:hover {
  background: white;
  color: black;
}
.start_main .start_main_content .cv {
  background: white;
  color: black;
  margin-left: 30px;
}
.start_main .start_main_content .cv:hover {
  background: linear-gradient(90deg, #4758dd, #854fee);
}
.start_main .start_main_image img {
  width: 90%;
  margin-top: 120px;
}

@media (max-width: 1334px) {
  .start_main .start_main_content {
    padding-top: 170px;
  }
  .start_main .start_main_content .intro_sup {
    font-size: 3rem;
  }
  .start_main .start_main_content .intro {
    font-size: 3.5rem;
  }
  .start_main .start_main_content .intro_sub {
    font-size: 1.8rem;
  }
}
@media (max-width: 1084px) {
  .start_main .start_main_content {
    padding-top: 170px;
  }
  .start_main .start_main_content .intro_sup {
    font-size: 2.7rem;
  }
  .start_main .start_main_content .intro {
    font-size: 3rem;
  }
  .start_main .start_main_content .intro_sub {
    font-size: 1.6rem;
  }
}
@media (max-width: 992px) {
  .start_main {
    background-image: none;
  }
  .start_main .start_main_content {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .start_main .start_main_content .intro_sup {
    font-size: 3.6rem;
  }
  .start_main .start_main_content .intro {
    font-size: 4.5rem;
  }
  .start_main .start_main_content .intro_sub {
    font-size: 2rem;
  }
  .start_main .start_main_image img {
    width: 90%;
    margin-top: 0px;
    margin-left: 5%;
  }
}
@media (max-width: 692px) {
  .start_main .start_main_content .intro_sup {
    font-size: 3rem;
  }
  .start_main .start_main_content .intro {
    font-size: 3.9rem;
  }
  .start_main .start_main_content .intro_sub {
    font-size: 1.6rem;
  }
}
@media (max-width: 650px) {
  .start_main .start_main_content {
    padding-top: 60px;
    padding-left: 20px;
  }
  .start_main .start_main_content .intro_sup {
    font-size: 2.5rem;
  }
  .start_main .start_main_content .intro {
    font-size: 3.2rem;
  }
  .start_main .start_main_content .intro_sub {
    font-size: 1.3rem;
  }
}
@media (max-width: 431px) {
  .start_main .start_main_content {
    padding-bottom: 50px;
  }
  .start_main .start_main_content .intro_sup:after {
    width: 30%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
  }
}
@media (max-width: 380px) {
  .start_main .start_main_content button {
    padding: 6px 22px;
    margin-top: 15px;
  }
}
@media (max-width: 360px) {
  .start_main .start_main_content .intro_sup {
    font-size: 2.5rem;
  }
  .start_main .start_main_content .intro {
    font-size: 2rem;
  }
  .start_main .start_main_content .intro_sub {
    font-size: 1.3rem;
  }
}
@media (max-width: 310px) {
  .start_main .start_main_content button {
    padding: 6px 16px;
  }
  .start_main .start_main_content .cv {
    margin-left: 10px;
  }
}
/*============================================start_main===================================================================*/
.introduction .intro_img img {
  width: 97%;
}
.introduction .intro_content__heading {
  font-size: 3.3rem;
  letter-spacing: 20px;
}
.introduction .intro_content__paragraph {
  width: 80%;
  color: #767676;
  word-spacing: 5px;
  word-wrap: break-word;
}
.introduction .intro_content__paragraph .github_link {
  text-decoration: underline !important;
}
.introduction .intro_button {
  outline: none !important;
  background: linear-gradient(90deg, #4758dd, #854fee);
  padding: 10px 35px;
  border-radius: 6px;
  border: 2px solid #4758dd;
  color: white;
  transition: all 0.3s ease;
  margin-top: 15px;
  transition: all 0.3s ease;
  margin-top: 30px;
}
.introduction .intro_button:hover {
  background: white;
  color: black;
}

@media (max-width: 1300px) {
  .introduction .intro_img img {
    width: 100%;
  }
  .introduction .intro_content__heading {
    font-size: 2.5rem;
    letter-spacing: 10px;
  }
  .introduction .intro_content__paragraph {
    width: 100%;
    color: #767676;
  }
}
@media(max-width: 992px) {
  .introduction .intro_img {
    display: none;
  } 
}
@media (max-width: 645px) {
  .introduction .intro_content__heading {
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
/*==================================================introduction===============================================================*/
.experience {
  margin-top: 100px;
}
.experience .experience_content .experience_content_section .call_now {
  margin-top: 120px;
}
.experience .experience_content .experience_content_section .call_now .call_content {
  font-size: 1.5rem;
  color: #0674ec;
  transition: all 0.1s ease;
}
.experience .experience_content .experience_content_section .call_now .call_content:hover {
  color: #055ebe;
  text-decoration: underline;
}
.experience .experience_content .experience_content_section .call_now i {
  font-size: 3rem;
}
.experience .experience_content .experience_content_section .border-image {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
}
.experience .experience_content .experience_content_section .experience_date {
  font-size: 5rem;
  color: #854fee;
  line-height: 75px;
  padding-top: 10px;
  position: relative;
}
.experience .experience_content .experience_content_section .experience_date_content {
  font-size: 1.5rem;
  font-weight: 700;
}
.experience .brands .img_wrapper {
  width: 86%;
  margin: 15px 0;
  padding: 25px 15px;
  border: 1px solid silver;
  transition: all 0.3s ease-in-out;
}
.experience .brands .img_wrapper:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.experience .brands .img_wrapper img {
  width: 100%;
  height: 50px;
}
.experience .experience_content_section {
  background-color: #fef7f7;
  width: 80%;
}

@media (max-width: 640px) {
  .experience .experience_content .experience_content_section .border-image {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 400px) {
  .experience .experience_content .experience_content_section .border-image {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 110px;
    height: 110px;
  }
}
@media (max-width: 1130px) {
  .experience .experience_content .experience_content_section .experience_date {
    font-size: 5rem;
    color: #854fee;
    line-height: 75px;
    padding-top: 10px;
    position: relative;
  }
  .experience .experience_content .experience_content_section .experience_date_content {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 50px !important;
  }
}
@media (max-width: 400px) {
  .experience .experience_content .experience_content_section .experience_date_content {
    font-size: 1.3rem;
  }
  .experience .brands .img_wrapper {
    width: 86%;
    margin: 15px 0;
    padding: 25px 15px;
    border: 1px solid silver;
    transition: all 0.3s ease-in-out;
  }
  .experience .brands .img_wrapper:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .experience .brands .img_wrapper img {
    width: 100%;
    height: 35px;
  }
  .experience .experience_content_section {
    width: 90%;
  }
}
/*======================================================================experience===========================================================*/
.services {
  margin: 100px 0px 100px;
}
.services .service_heading {
  font-size: 2.5rem;
  font-weight: 700;
}
.services .service_content {
  color: #6b747c;
}
.services .cards_wrapper {
  margin-top: 30px;
}
.services .cards .card_element {
  background-color: #f8fcfd;
  height: 350px;
  position: relative;
  transition: all 0.3s ease-in;
}
.services .cards .card_element:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.services .cards .card_element .card_heading {
  font-size: 1.5rem;
  font-weight: 700;
}
.services .cards .card_element .card_content {
  color: #6a727a;
  padding-bottom: 50px;
}

/*=====================================================services===============================================================*/
.projects .projects_heading {
  font-size: 2.5rem;
}
.projects .element_item:nth-child(2) img, .projects .element_item:nth-child(3) img, .projects .element_item:nth-child(4) img {
  border: 1px solid silver;
}
.projects .projects_buttons {
  margin-top: 75px;
}
.projects .projects_buttons button {
  border: none;
  outline: none !important;
  background-color: transparent;
}
.projects .project_img_heading {
  font-size: 2rem;
}
.projects .project_img_content {
  font-size: 0.9rem;
  color: #6c757d;
}
.projects .projects_grid .proj_img {
  transition: all 0.1s ease;
  border-radius: 5px;
  position: relative;
}
.projects .projects_grid .proj_img:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}
.projects .projects_grid .proj_img img {
  border-radius: 5px;
}

@media (max-width: 700px) {
  .projects .projects_heading {
    font-size: 2rem;
  }
}
@media (max-width: 605px) {
  .projects .projects_buttons button {
    font-size: 0.9rem;
    border: none;
    outline: none !important;
    background-color: transparent;
  }
}
/*==============================================================projects============================================================*/
.clients_opinion {
  margin-top: 100px;
}
.clients_opinion .clients_header .clients_header_heading {
  font-size: 3rem;
  font-weight: 700;
}
.clients_opinion .clients_header .clients_header_content {
  color: #6f6f6f;
}
.clients_opinion .clients_slider {
  margin-top: 40px;
  width: 86%;
}
.clients_opinion .clients_slider .testimonials_heading {
  font-size: 1.5rem;
}
.clients_opinion .clients_slider .testimonials_content {
  font-size: 0.9rem;
  color: #757475;
}
.clients_opinion .clients_slider .carousel_content {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

@media (max-width: 1084px) {
  .clients_opinion .clients_slider {
    width: 100%;
  }
}
@media(max-width: 576px) {
  .clients_opinion .clients_header .clients_header_heading {
    font-size: 2.2rem;
  } 
}
.img-faiz{
  width: 90%;
}
@media(max-width: 767px) {
  .img-faiz{
    width: 130px !important;
  }
}
@media(max-width: 340px) {
  .img-faiz{
    width: 95% !important;
  } 
}
/*================================================================clients_opinion=================================================*/
::placeholder {
  color: white;
}

.subscription {
  margin-top: 100px;
}
.subscription .subscription_content {
  width: 100%;
  background-image: url(../images/subscribe-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 150px;
}
.subscription .subscription_content .subscription_heading {
  font-size: 2rem;
}
.subscription form input {
  padding: 10px;
  outline: none !important;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  width: 340px;
  color: white;
  max-width: 100%;
}
.subscription form button {
  padding: 10px 30px;
  outline: none !important;
  border: 1px solid green;
  border-radius: 5px;
  background-color: white;
}

/*===============================================================subscription============================================================*/
.footer {
  background-image: url("../images/footer-bg.png");
  padding-top: 150px;
  margin-top: 100px;
  padding-bottom: 80px;
}
.footer .footer_heading {
  font-size: 1.5rem;
}
.footer .footer_content {
  color: #777777;
}
.footer .social_media i {
  font-size: 1.5rem;
  color: #e8e5eb;
  transition: all 0.3s ease;
}
.footer .social_media i:hover {
  color: #4a57dd;
}

@media (max-width: 830px) {
  .footer {
    padding-top: 100px;
    background-position: 50px;
  }
}
/*===============================================================footer=================================================================*/